@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
  font-family: Poppins;
}


.conteiner {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 32px;
}


.conteiner-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;


}

.header {
  padding-top: 31px;
  padding-bottom: 100px;
  height: 800px;
  background-color: black;
  background-image: url('./../img/header-bg.jpg');
  background-size: cover;
  background-position: center center;

  border-radius: 0 0 54px 54px;
  color: white;


}

.header a {
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 54px;

}

.user {
  display: flex;
  column-gap: 8px;
  align-items: center;
}



.user-content {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;

}

.user-avatar {
  position: relative;
  height: 48px;
  width: 48px;
  /* border-radius: 50%; */
  overflow: hidden;

}



.user-avatar::after {

  position: absolute;
  top: 0;
  right: 0;

  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #FF0000;
}

.user__avatar-img {

  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;

}


.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
  color: #fff;


}

.button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 72px;
  padding: 24px;
  border-radius: 12px;
  background: #7B61FF;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s;
  margin-top: 15px;
}

.button:hover {
  background: #5f40fa;
}

.form {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  background: #fff;
  border-radius: 12px;
  height: 88px;
  max-width: 1140px;
  color: black;

}
.form-input {
  position: relative;
  display: inline-block;
  padding: 16px 20px 16px 56px;
  flex-grow: 1;
}
.button__search {
  width: 60px;
  height: 60px;
  padding: 18px;
  background: #7B61FF;
  border-radius: 12px;
  align-self: center;
}



.form-input::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 24px;

}

.label {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color: #5b5b5b;

}

.select {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

}

.form-input-locations::before {
  background-image: url(./../img/icons/activity.svg);
}

.form-input-activity::before {
  background-image: url(./../img/icons/activity.svg);
}

.form-input-when::before {
  background-image: url(./../img/icons/calendar.svg)
}

.form-input-guest::before {
  background-image: url(./../img/icons/guests.svg);
}